/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 8 nov. 2017, 21:13:18
    Author     : Mathieu
*/

body {
    padding-top: 54px;
    padding-bottom: 150px;
    background-color: rgb(233,248,255);
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

.carousel-text {
    color: rgb(69,164,247);
    line-height: 1.1;
    box-sizing: border-box;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);
    padding-bottom: 50px;
}

.carousel-text h1 {
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    margin-bottom: 50px;
}

#myCarousel {
    min-height: 500px;
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#myCarousel img {
    margin-left: auto !important;
    margin-right: auto !important;
}

.carousel-caption {
    color: rgb(69, 164, 247) !important;
}

.carousel-indicators {
    z-index: auto;
}

.carousel-indicators > li {
    background-color: rgb(69, 164, 247) !important;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(69, 164, 247, .5) 0, rgba(0, 0, 0, .0001) 100%) !important;
    background-image: -o-linear-gradient(left, rgba(69, 164, 247, .5) 0, rgba(0, 0, 0, .0001) 100%) !important;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(69, 164, 247, .5)), to(rgba(0, 0, 0, .0001))) !important;
    background-image: linear-gradient(to right, rgba(69, 164, 247, .5) 0, rgba(0, 0, 0, .0001) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8045A4F7', endColorstr='#00000000', GradientType=1) !important;
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(69, 164, 247, .5) 100%) !important;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(69, 164, 247, .5) 100%) !important;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(69, 164, 247, .5))) !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(69, 164, 247, .5) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#8045A4F7', GradientType=1) !important;
    background-repeat: repeat-x;
}

.logo {
    margin-left: 20px;
    margin-top : 20px;
    height : 50px;
    width : auto;
    border-radius: 5px;
}

.icones {
    list-style: none;
    display: block;
}

.important_event {
    margin-top:50px;
    min-height: 250px;
}

/* navbar */
.navbar-default {
    background-color: RGB(69,164,247);
    border-color: RGB(69,164,247);
}
/* Title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: RGB(50,140,255);;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: RGB(69,164,255);;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/*Barre recherche dropdown*/
.inline-form input {
    display: inline-block;
    width: 350px;
}
/*Appartition dropdown*/
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/*Footer*/
#footer {
    max-height: 100px;
}
#footer {
    background-color: #f5f5f5;
}
#footer {
    bottom:0px;
}
#footer {
    position:fixed;
    display:block;
    width: 100%;
    background: rgb(69, 164, 247);
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    padding: 4px 0 4px 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.imageCarousel
{
    height: 600px !important;
}

.image_top_3_event {
    border: solid black 1px;
    min-height: 250px;
}

.informations_event {
    padding-bottom: 5px;
    padding-top:10px;
}

.text_left {
    text-align : left;
}

.text_right {
    text-align: right;
    margin-right: 10px;
}

.border {
    border: solid black 1px; 
    border-radius: 2px;
}

.border p, .border button, .border h2 {
    margin: 10px;
}

/*ImagePreview*/
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}