/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 8 nov. 2017, 21:13:18
    Author     : Mathieu
*/

body {
    padding-top: 54px;
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

#myCarousel {
    min-height: 200px;
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#myCarousel img {
    margin-left: auto !important;
    margin-right: auto !important;
}

.carousel-caption {
    color: rgb(69, 164, 247) !important;
}

.carousel-indicators > li {
    background-color: rgb(69, 164, 247) !important;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(69, 164, 247, .5) 0, rgba(0, 0, 0, .0001) 100%) !important;
    background-image: -o-linear-gradient(left, rgba(69, 164, 247, .5) 0, rgba(0, 0, 0, .0001) 100%) !important;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(69, 164, 247, .5)), to(rgba(0, 0, 0, .0001))) !important;
    background-image: linear-gradient(to right, rgba(69, 164, 247, .5) 0, rgba(0, 0, 0, .0001) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8045A4F7', endColorstr='#00000000', GradientType=1) !important;
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(69, 164, 247, .5) 100%) !important;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(69, 164, 247, .5) 100%) !important;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(69, 164, 247, .5))) !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(69, 164, 247, .5) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#8045A4F7', GradientType=1) !important;
    background-repeat: repeat-x;
}

.logo {
    height : 50px;
    width : auto;
    border-radius: 5px;
}

.icones {
    list-style: none;
    display: block;
}

.important_event {
    margin-left: auto;
    margin-right:auto;
}