/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 8 nov. 2017, 21:13:18
    Author     : Mathieu
*/

body {
    padding-top: 54px;
    padding-bottom: 150px;
    background-color: rgb(233,248,255);
}

@media (min-width: 992px) {
    body {
        padding-top: 56px;
    }
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.portfolio-item {
    margin-bottom: 30px;
}

.carousel-text {
    color: rgb(69,164,247);
    line-height: 1.1;
    box-sizing: border-box;
    text-shadow: 0 1px 1px rgba(0,0,0,.6);
    padding-bottom: 50px;
}

.carousel-text h1 {
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    margin-bottom: 50px;
}

#myCarousel {
    min-height: 250px;
    max-width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

#myCarousel img {
    margin-left: auto !important;
    margin-right: auto !important;
}

.carousel-caption {
    color: rgb(69, 164, 247) !important;
}

.carousel-indicators {
    z-index: auto;
}

.carousel-indicators > li {
    background-color: rgb(69, 164, 247) !important;
}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left, rgba(69, 164, 247, .5) 0, rgba(0, 0, 0, .0001) 100%) !important;
    background-image: -o-linear-gradient(left, rgba(69, 164, 247, .5) 0, rgba(0, 0, 0, .0001) 100%) !important;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(69, 164, 247, .5)), to(rgba(0, 0, 0, .0001))) !important;
    background-image: linear-gradient(to right, rgba(69, 164, 247, .5) 0, rgba(0, 0, 0, .0001) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#8045A4F7', endColorstr='#00000000', GradientType=1) !important;
    background-repeat: repeat-x;
}

.carousel-control.right {
    right: 0;
    left: auto;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(69, 164, 247, .5) 100%) !important;
    background-image: -o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(69, 164, 247, .5) 100%) !important;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(69, 164, 247, .5))) !important;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(69, 164, 247, .5) 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#8045A4F7', GradientType=1) !important;
    background-repeat: repeat-x;
}

.logo {
    margin-left: 20px;
    margin-top : 20px;
    height : 50px;
    width : auto;
    border-radius: 5px;
}

.icones {
    list-style: none;
    display: block;
}

.important_event {
    margin-top:50px;
    min-height: 250px;
}

/* navbar */
.navbar-default {
    background-color: RGB(69,164,247);
    border-color: RGB(69,164,247);
}
/* Title */
.navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #5E5E5E;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: RGB(50,140,255);;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: white;
    background-color: RGB(69,164,255);;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
    border-top-color: #777;
    border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
    border-top-color: #333;
    border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
    border-top-color: #555;
    border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
    border-color: #DDD;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #DDD;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #CCC;
}
@media (max-width: 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #777;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #333;
    }
}

/*Barre recherche dropdown*/
.inline-form input {
    display: inline-block;
    width: 350px;
}
/*Appartition dropdown*/
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}

/*Footer*/
#footer {
    max-height: 100px;
}
#footer {
    background-color: #f5f5f5;
}
#footer {
    bottom:0px;
}
#footer {
    position:fixed;
    display:block;
    width: 100%;
    background: rgb(69, 164, 247);
    z-index:9;
    text-align:center;
    color: #f2f2f2;
    padding: 4px 0 4px 0;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.imageCarousel
{
    height: 600px !important;
}

.image_top_3_event {
    border: solid black 1px;
    min-height: 250px;
}

.informations_event {
    padding-bottom: 5px;
    padding-top:10px;
}

.text_left {
    text-align : left;
}

.text_right {
    text-align: right;
    margin-right: 10px;
}

.border {
    border: solid black 1px; 
    border-radius: 2px;
}

.border p, .border button, .border h2 {
    margin: 10px;
}

/*ImagePreview*/
.image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}

.iconeNavbar {
    height: inherit;
    vertical-align: middle;
}

.navbar-brand {
    padding-top: 0px !important;
}

.descriptionEvenement {
    padding: 5px;
    border: solid rgb(69, 164, 247) 1px;
    background-color: rgba(255,255,255,0.9);
    border-radius: 5px;
    min-height: 100px;
}

.logoAutoroute {
    height: 50px;
}

.trajetEvenement {
    background-color: rgba(255,255,255,0.9); 
    border-radius: 2px; 
    padding-top: 10px;
    border: 1px black solid;
}

.nomChauffeurTrajetEvenement {
    position: relative;
    bottom : 25px;
    background-color: white;
    border-radius: 2px;
    text-align: center;
    padding-top: 10px;
    padding-left: 5px; 
    padding-right: 5px; 
    margin-bottom: -25px;
    font-size: 1.5em;
}

.nomTrajet {
    min-height: 70px;
}

.infosTrajet {
    min-height: 250px; 
}

.informationsRetard {
    border: black 1px solid;
    background-color: #fbfbfb;
    color: rgb(69, 164, 247);
    padding-top: 75px;
    padding-bottom: 75px;
    border-radius : 2px;
}

.photoProfilInconnuTrajet {
    height: 120px;
    width : auto;
}

.trajet {
    background-color: rgb(69, 164, 247);
}

/* recherche detailées */
#optionAvancee{
    text-decoration: none;
}

.photoProfil {
    width: inherit;
    border: black 1px solid;
    border-radius: 5px;
}

.scrollbar {
    border: 1px solid black;
    margin-bottom: 10px;
    height:25px;
    text-align: left;
    padding-right: 0;
    padding-left: 0;
}

#divMail {
    margin-top: 10px;
}

#inputConnexion {
    margin-bottom: 10px;
}

#divFirstName {
    margin-top: 20px;
}

#inputInscription {
    margin-bottom: 10px;
}

.ui-autocomplete {
    position: fixed;
    top: 100%;
    left: 0;
    z-index: 10000;
    float: left;
    display: none;
    min-width: 160px;
    _width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    list-style: none;
    background-color: #ffffff;
    border-color: #ccc;
    border-color: rgba(0, 0, 0, 0.2);
    border-style: solid;
    border-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    *border-right-width: 2px;
    *border-bottom-width: 2px;
}

.ui-autocomplete .ui-menu-item {
    padding: 0 10px 0 10px;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;
}

.ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-hover, .ui-autocomplete .ui-menu-item > a.ui-corner-all.ui-state-active {
    color: #ffffff;
    text-decoration: none;
    background-color: #0088cc;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    background-image: none;
}

/*.ui-autocomplete .ui-menu-item:hover {
    background-color: RGB(69, 164, 247);
    color: white;
}*/

.ui-state-active {
    background-color: RGB(69, 164, 247);
    color: white;
}

.ui-helper-hidden-accessible {
    display: none;
}

.photoProfilAvis {
    width: 100px;
    height: auto;
}

#divRecherche {
    text-align: center;
    background-color: RGB(69, 164, 247);
}

#containerCreation {
    text-align: center;
    background-color: RGB(69, 164, 247);
    visibility: hidden;
}

#titreBlanc {
    color: white;
}

#boutonSupprimer {
    display: none;
}

#description {
    max-width: 650px;
}

#divTrajet {
    margin-top: 50px;
}

#divCovoiturage {
    margin-bottom: 50px;
}

#divProposerTrajet {
    text-align: center;
    background-color: RGB(69, 164, 247);
}

#ajoutEtape {
    background-color: white;
    padding: 6px 12px;
    width: 100%;
    color : #555;
    border: 1px solid #ccc;
    border-radius : 4px 0 0 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    padding-top : 10px;
    padding-bottom: 10px;
}

.groupeDateLieu {
    margin-top : 10px;
    margin-bottom: 10px;
}

.infosComplementairesProposerTrajet {
    margin-top: 5px;
    margin-bottom: 5px;
}

.elementInfoComp {
    margin-top : 5px;
    margin-bottom: 5px;
}

.note {
    font-size: 1.4em;
}

.trajetEvenement div p {
    margin-left: 50px;
}

.placesReservees, .boutonReservation {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-radius: 4px;
    overflow: visible;
}

.boutonReservation:hover {
    background-color: #ddd;
    border-color: #ccc;
}

.headerTrajet {
    padding-top: 10px;
    border-radius: 5px;
    background-color:rgb(69,164,247);
    color: #eee;
    margin-top: 10px;
}